{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Directory</title>
</head>
<body>
    <div style="text-align:center;">
        <p><b>Filters</b></p>
        <p>
            Last name starts with: &nbsp;&nbsp;
            <input type="text" id="id_last_name_starts" value="{{request.GET.last_name_starts}}">
        </p>

        <p>
            Subject name: &nbsp;&nbsp;
            <input type="text" id="id_subject" value="{{request.GET.subject}}">
        </p>
        <p><button type="button" id="search">Search</button></p>
        <p><button type="button" id="clear">Clear</button></p>
    </div>

    <br><br><br><br><br>

    <table width="100%">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            {% for teacher in teacher_list %}
            <tr>
                <th><a href="{{teacher.get_detail_url}}">{{ teacher.first_name }}</a></th>
                <th>{{ teacher.last_name }}</th>
                <th>{{ teacher.email_address }}</th>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs=" crossorigin="anonymous"></script>
    <script src='{% static "directory/js/teachers.js" %}?v=1.0'></script>
</body>
</html>